html, body, div, canvas { 
    margin: 0;
    padding: 0;
}	/* removes margin around background canvas */

body {
	transition-duration: 1s;
	text-align: center;
	overflow: hidden;
	user-select: none;
	background-color: white;
}

#void-canvas {
	transition-duration: 100s;
	margin-left: -50%;
	background-color: transparent;
	position: absolute;
}

